extends ../layout

block contenido
  link(rel="stylesheet" href="/css/style.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")
  style.
    .center-text {
      text-align: center;
    }
    /*
    .half-width {
      width: 50%;
    }
    .small-width {
      width: 25%;
    }*/
    .status-active {
      color: green;
    }
    .status-inactive {
      color: red;
    }
    .center-buttons {
      display: flex;
      justify-content: center;
    }
  script.
    function toggleFieldVisibility() {
      const fieldDni = document.getElementById('dni');
      const fieldId = document.getElementById('id');
      fieldDni.style.display = 'none'; // Ocultar el campo
      fieldId.style.display = 'none'; // Ocultar el campo
    }
  h1.center-text Gestionar Médico
  form(action=`/medicos/update/${persona.dni}` method="POST" id="editar-form" class="needs-validation" novalidate)
    div(class="mb-3" id='dni-container')
      label(for="dni" class="form-label") 
      input(type="number" name="dni" id='dni' class="form-control" value=persona.dni readonly)
   
    div(class="mb-3")
      label(for="id" class="form-label") 
      input(type="number" name="id" id='id' class="form-control" value=usuario.id readonly)
   
    div(class="mb-3")
      label(for="nombre" class="form-label") Nombre:
      input(type="text" name="nombre" class="form-control" value=persona.nombre required)
      div(class="invalid-feedback") Nombre es obligatorio.
    
    div(class="mb-3")
      label(for="apellido" class="form-label") Apellido:
      input(type="text" name="apellido" class="form-control" value=persona.apellido required)
      div(class="invalid-feedback") Apellido es obligatorio.
    div(class="mb-3")
      label(for="nacimiento" class="form-label") Fecha de Nacimiento:
      input(type="date" name="nacimiento" class="form-control" value=persona.nacimiento.toISOString().split('T')[0] required)
    div(class="mb-3")
      label(for="email" class="form-label") Email:
      input(type="email" name="email" class="form-control" value=`${usuario.email}@gmail.com` required)
      div(class="invalid-feedback") Email es obligatorio.
    div(class="mb-3")
      label(for="password" class="form-label") Password:
      input(type="password" name="password" class="form-control" value=usuario.password required)
      div(class="invalid-feedback") Password es obligatorio.
    div(class="mb-3")
      label(for="telefonos" class="form-label") Teléfonos:
      select(name="telefonos" class="form-select" required)
        each telefono in telefonos.numeros.split(', ') || []
          option(value=telefono)= telefono
    div(class="mb-3")
      label(for="telefonoAlternativo" class="form-label") Teléfono Alternativo (opcional):
      input(type="text" name="telefonoAlternativo" class="form-control" value='')

    button(type="submit" class="btn btn-success center-buttons") Guardar Cambios
  h3.center-text Estado
  br
  p.center-text Profesional: #{persona.nombre}
  p.center-text(class= medico.estado == 1 ? 'status-active' : 'status-inactive') Estado: #{medico.estado == 1 ? 'Activo' : 'Inactivo'}
  div.center-buttons
    if medico.estado == 1
      form(action=`/medicos/inactivar/${persona.dni}`, method='post' id="inactivar-form")
        button(type='submit' class="btn btn-danger") Inactivar
    else
      form(action=`/medicos/activar/${persona.dni}`, method='post' id="activar-form")
        button(type='submit' class="btn btn-success") Activar
  br
  h3.center-text Gestion de Especialidades 
    div(class="mb-3")
      label(for="especialidades" class="form-label") Dr. #{persona.nombre}
      select(name="especialidades" class="form-select half-width" required)
        each especialidad in especialidades || []
          option(value=especialidad)= especialidad

    div(class="mb-3")
      label(for="matricula" class="form-label") Número de Matrícula:
      select(name="matriculas" class="form-select small-width" required)
        each matricula, index in matriculas || []
          option(value=matricula)= `${matricula} (${especialidades[index]})`

  div.center-buttons
    a(href="/medicos/especialidades" class="btn btn-primary mt-3") Gestionar Especialidades
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous")
  script(src="/js/medicos.js")
  script.
    // Llamar a la función para ocultar el campo cuando la página se carga
    document.addEventListener('DOMContentLoaded', toggleFieldVisibility);

